.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    margin-block-end: 25px;
    // background-color: blueviolet;

    .logo {
        font-size: 25px;

    }

    .links-container {
        font-size: 1rem;

        >*:not(:last-child) {
            margin-inline-end: 1rem;
            padding: 8px;
            border-radius: 4px;

            &:hover {
                background-color: rgba(240, 242, 247, 0.1);

            }
        }

        .active {
            text-underline-position: below;
            text-decoration: underline;
            color: rgb(132, 132, 215);
        }

        .btn-logout {
            cursor: pointer;
        }
    }



}