<section class="home-page">
    <div class="content-container">
        <div class="content">
            <h1 *ngIf="user">Hello, {{user.name}}</h1>
            <h3>Your balance is:₿ {{user.balance}} </h3>
            <div class="transactions" *ngIf="transactions">
                <h3>Recent transactions: </h3>
            </div>
            <transaction-list [transactions]="transactions"></transaction-list>
        </div>
        <div class="currency-container">
            <img src="../../../assets/imgs/bitcoin-logo.png" alt="">
            <h3>Current BTC rate in USD: ${{rate}}</h3>
        </div>
    </div>
    <img class="hero-img" src="../../../assets/imgs/home-img.jpeg" alt="">
</section>