.contact-filter{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    input{
        width: 300px;
        padding: 10px;
        border-radius: 5px;

    }
}