
// COLOR PALETTE
$clr1: #000;
$clr2: #fff;
$clr3: darken($clr2, 40%);
$clr4: #2d2d2d;

// LAYOUT
$layoutPadding: 50px;

// LAYOUT BREAKPOINTS
$mobile-breakpoint: 480px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1000px;
$wide-breakpoint: 1400px;

$padded-break-narrow: $narrow-breakpoint + $layoutPadding * 2;
$padded-break-normal: $normal-breakpoint + $layoutPadding * 2;
$padded-break-wide: $wide-breakpoint + $layoutPadding * 2;