<section class="contact-edit">
    <form (ngSubmit)="onSaveContact()">
        <label for="name">Name</label>
        <input [(ngModel)]="contact.name" name="name" type="text" id="name"> 

        <label for="email">Email</label>
        <input [(ngModel)]="contact.email" name="email" required type="email" id="email"> 

        <label for="phone">Phone</label>
        <input [(ngModel)]="contact.phone" name="phone" type="number" id="phone"> 
        <button class="btn btn-primary">Save</button>
    </form>
    <div *ngIf="!contact._id" class="img-container">
        <img src="../../../assets/imgs/contact-avatar.webp" alt="">
    </div>
</section>