.contact-details {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block-start: 20px;

    img {
        width: 200px;
        object-fit: cover;
        padding-inline-end: 40px;

    }

    .info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .info {
            padding-bottom: 7px;
        }
    }

    // .btn-back {
    //     border: 1px solid #fff;
    //     padding: 5px 10px;
    // }

}