.contact-preview {
    display: flex;
    align-items: center;
    margin-block-end: 10px;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 15px;


    &:hover {
        transform: scale(1.08);
    }

    .info-container {
        display: flex;
        padding-top: 10px;
        align-items: center;
    }

    .actions-container {
        // margin-inline-start: 100px;

        .btn-primary {
            margin-inline-end: 10px;
            background-color: transparent;
            color: #ffffff;
            font-size: 1rem;
            border: none;

            &:hover {
                background-color: rgba(240, 242, 247, 0.1);
                padding: 7px;
                border-radius: 5px;

            }

        }
    }

    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-inline-end: 30px;
    }

}

@media (max-width: 520px) {
    .contact-preview {
        width: 350px;

        .info-container {
         
            flex-basis: 100%;
            margin-inline-start: 10px;
            align-items: center;

            .phone {
                display: none;
            }
        }

        .actions-container {
            >* {
                display: none
            }
        }

        img {
            margin-inline-end: 20%;

        }
    }
}

@media (min-width: 521px) {
    .contact-preview {
        .info-container {
            // padding-top: 10px;
            margin-inline-start: 20px;

            .name {
                font-size: 20px;
                margin-inline-end: 30px;
            }
            .phone {
                display: none;
            }

        }

        .actions-container {
            >*:not(:first-child) {
                display: none
            }
            margin-inline-start: 80px;

        }
    }
}

@media (min-width: 720px) {
    .contact-preview {
        .info-container {
            margin-inline-start: 20px;

            .name {
                font-size: 20px;
                margin-inline-end: 30px;
            }
            .phone {
                display: none;
            }

        }

        .actions-container {
            >*:not(:first-child) {
                display: inline-block
            }
            margin-inline-start: 100px;

        }
    }
}

@media (min-width: 920px) {
    .contact-preview {
        justify-content: space-between;
        flex-basis: 100%;
        // width: 100%;

        .info-container {
            // padding-top: 10px;
            margin-inline-start: 20px;

            .name,
            .phone {
                display: inline-block;
                font-size: 20px;
                margin-inline-end: 30px;
            }

        }

        .actions-container {
            margin-inline-start: 100px;

        }
    }
}