.contact-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 10px;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 15px;
  
    &:hover {
        transform: scale(1.08);
    }

    .info-container {
        display: flex;
        padding-top: 10px;
        margin-inline-start: 20px;

        .info {
            font-size: 20px;
            margin-inline-end: 30px;
        }
    }

    .actions-container {
        margin-inline-start: 100px;

        .btn-primary {
            margin-inline-end: 10px;
            background-color: transparent;
            color: #ffffff;
            font-size: 1rem;
            border: none;

            &:hover {
                background-color: rgba(240, 242, 247, 0.1);
                padding: 7px;
                border-radius: 5px;

            }

        }
    }


    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-inline-end: 30px;
    }


}